.container {
    text-align: center;
}

.hero {
    margin-top: 25%;
}

.project {
    align-items: center;
    background-color:  lightblue;
    border-radius: 1rem;
    display: flex;
    height:  200px;
    justify-content: center;
    margin-top: 1rem;
}

a.project-link {
    text-decoration: none;
}

a:hover {
    opacity: 1;   
}